body {
    background: #f0f4f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px;
}

#weather-container {
    background: rgba(255, 255, 255, 0.8);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

h2, label, p {
    color: #333;
    margin: 8px 0;
}

input {
    width: calc(100% - 16px);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-top: 20px;
    background-color: #f9fafb;
}

button {
    background: #6c63ff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: #574bdb;
}

#temp-div p {
    font-size: 48px;
    margin-top: -20px;
    color: #333;
}

#weather-info {
    font-size: 18px;
    color: #666;
}

#weather-icon {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px; 
    margin-bottom: 0;
    display: none;
}

#hourly-forecast {
    margin-top: 40px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item {
    flex: 0 0 auto;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: #333;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #333;
    margin-top: 10px;
}

@media (max-width: 600px) {
    #weather-container {
        padding: 15px;
    }
    
    h2, label, p {
        font-size: 16px;
    }
    
    #temp-div p {
        font-size: 36px;
    }

    button {
        padding: 10px;
        font-size: 14px;
    }

    #hourly-forecast {
        margin-top: 30px;
    }
    
    .hourly-item {
        width: 60px;
    }
}
